.ingredient_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.details_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 16px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
