.error_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
  padding: 20px;
  text-align: center;
}

.error_icon {
  margin-bottom: 20px;
  font-size: 64px;
}

.retry_button {
  padding: 16px 40px;
  color: white;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border: none;
  border-radius: 64px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.retry_button:hover {
  opacity: 0.8;
}

.retry_button:active {
  opacity: 0.6;
}
