.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.loader_wrapper,
.error_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 88px);
  padding: 40px;
}
