* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Jet Brains Mono', serif;
}

ul,
ol {
  list-style: none;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
