.card_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.price_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
